<nav class="navbar navbar-dark bg-dark">
  <div class="container justify-content-around">
    <a class="navbar-brand fs-5 fw-bold">Hack the blog</a>
    <a class="btn btn-primary" href="/admin">Admin</a>
  </div>
</nav>
