/* Colocar aquí CSS "propio" */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/livro2.webp");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mWidth {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#article-headers {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}

small {
  color: rgb(128, 126, 126);
}

td, th {
  border: none;
}
